<template>
  <div>
    <div class="columns">
      <div class="column is-4">
        <side-menu></side-menu>
      </div>
      <div class="column">
        <nav-bar></nav-bar>
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from '@/components/NavBar.vue';
import SideMenu from '@/components/SideMenu.vue';

export default {
  components: {
    NavBar,
    SideMenu,
  },
};
</script>

<style lang="scss" scoped>
</style>
